* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

body{   
    height: 100vh;
}

:root {
    --grisAB: #202020;
    --gris2: #797979;
    --gris3: #bebebe;
    --menuLinksAB: #afafaf;
    --menuLinksHoverAB: #ffffff;
    --navegador_padding: 2rem;
    --navegador_logo--height: 6.1rem;
    --navegador--height: calc(var(--navegador_padding)*2 + var(--navegador_logo--height));
    --main--height: calc((var(--navegador_padding)*2 + var(--navegador_logo--height))*5);
    --quickContact--height: calc((var(--navegador_padding)*2 + var(--navegador_logo--height))*4);
}

ul {
    list-style:none;
}

li {
    display: inline-block;
}

.gridsHome {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

/* ENCABEZADO */

.encabezado{
    grid-area: header;
    /* position: fixed;  */
    background-color: var(--grisAB);
    width: 100%; 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : var(--navegador_padding);
    z-index: 2;

}

.encabezado__logo{
    height: var(--navegador_logo--height);
    margin-right: var(--navegador_padding);
}

.encabezado__nav{
    text-align: right;
}

.encabezado__nav a, .encabezado__nav span{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.encabezado__nav span{
    color: rgb(100, 100, 100);
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.encabezado__nav a{
    color: var(--menuLinksAB);
}

.encabezado__nav a:hover{
    color: var(--menuLinksHoverAB);
}

/* PRINCIPAL HOME */

.principalHome{
    grid-area: main;
    /* padding-top: var(--navegador--height); */
}

.principalHome__main{
    width: 100%;
    position: relative;
    padding: 0px 10vw 0px 10vw;
    height: var(--main--height);
    background-color: yellow;
    background-image: url("img/background_princial_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center right;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.principalHome__main h1, .principalHome__main__apellido {
    background-color: rgb(0, 0, 0);
    color: var(--menuLinksAB);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8rem;
    padding: 2rem 1rem 1rem 1rem;
    text-align: right;    
}

.principal__main__apellido {
    color: var(--menuLinksHoverAB);
    padding: 0px;
    
}

.principalHome__main p {
    background-color: rgb(0, 0, 0);
    color: var(--menuLinksAB);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    padding: 1rem;
    padding-top: 0;
    width: 42rem;
    line-height: 2rem;
    text-align: right;
    word-spacing: auto;
}

.principalHome__main ul {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--grisAB);
}

.principalHome__main a {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: yellow;
}

.separador{
    height: 2rem;
    width: 100%;
    background-color: var(--grisAB);
    background-color: black;
}

/* FOOTER */

.footer {
    grid-area: footer;
    background-color: var(--grisAB);
    width: 100%;
}

.quickContact {
    background-color: var(--menuLinksAB);
    height: var(--quickContact--height);
    padding: var(--navegador_padding) 20vw var(--navegador_padding) 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:calc(var(--navegador_padding)/2);
}

.quickContact h2{
    color: var(--gris2);
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 5rem;
    text-align: center;
}

.quickContact__form{
    /* background-color: violet; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:var(--navegador_padding);
    align-items: center;
}

.quickContact__form div {
    display: flex;
    justify-content: center;
    gap: var(--navegador_padding);
    width: 100%;
}

.quickContact__form div .quickContact--campo{
    border: solid 1px var(--gris2);
    background-color: var(--gris3);
    width: 90%;
    height: 3rem;
}

.quickContact__form div label{
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 0.75rem;
    width: 10%;
    text-align: right;
}

.quickContact__form div textarea{
    
    height: 9rem !important;
}

.quickContact--boton input{
    background-color: var(--gris2);
    color: var(--gris3);
    font-family: 'Rubik', sans-serif;
    border: 0;
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    width: 10rem;
}

.quickContact--boton input:hover{
    background-color: var(--gris3);
    color: var(--gris2);
}

.footer__copy{
    height: var(--navegador--height);
    display: flex;
    justify-content: space-between;
    padding : var(--navegador_padding);
    align-items: center;
}

.footer__copy p{
    font-family: 'Rubik', sans-serif;
    color: var(--menuLinksAB);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.footer__copy p span{
    font-weight: 700;
}

.footer__copy ul{
    display:flex;
    gap: 1rem;
}

.footer__copy a, .footer__copy span{ 
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color:var(--menuLinksAB);
    font-weight: 700;
}

.footer__copy a:hover{
    color:var(--menuLinksHoverAB);
}

.footer__copy span{ 
color: rgb(100, 100, 100);
font-weight: 400;
}

/* HOME CONTENT */

.homeContent{
    display: flex;
    flex-wrap: wrap;
}

.homeContent__section{
    width: 50%;
    height: calc(var(--navegador--height)*3);
}

.homeContent__moreWork{
    width: 100%
}

.homeContent__section{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(var(--navegador--height)*3);
    padding: 5%;
    background-color: yellow;
    font-family: 'Josefin Sans', sans-serif;
    align-items: flex-start;
    justify-content: center;
}

.homeContent__section h3{
    background-color: black;
    font-weight: 700;
    color: var(--menuLinksAB);    
    font-size: 3rem;
    padding: 1rem 1rem 0 1rem;
}

.homeContent__section p{
    background-color: black;
    font-weight: 400;
    width: 70%;
    color: var(--menuLinksAB);    
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding: 1rem;
}

.homeContent__section a{
    font-family: 'Rubik', sans-serif;
    background-color: var(--grisAB);
    font-weight: 400;
    color: yellow;    
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 1rem; 
}

.homeContent__moreWork{
    background-color: var(--grisAB);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.homeContent__moreWork a{
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: yellow; 
    text-decoration: none;
    text-transform: uppercase;
}

.homeContent div:nth-child(1){
    background-color: #19C6FF;
    background-image: url("img/test_design.jpg");
    background-size: cover;
    background-position: center;
}
.homeContent div:nth-child(2){
    background-color: #A068A9;
    background-image: url("img/test_3d.jpg");
    background-size: cover;
    background-position: center;
}
.homeContent div:nth-child(3){
    background-color: #FFAC36;
    background-image: url("img/test_coding.jpg");
    background-size: cover;
    background-position: center;    
}
.homeContent div:nth-child(4){
    background-color: #FF1956;
    background-image: url("img/test_photography.jpg");
    background-size: cover;
    background-position: center;
}

/* WHO AM I CONTENT */

.heroWhoAmI {
    width: 100%;
    padding: 0px 10vw 0px 10vw;
    height: calc((var(--main--height))/2);
    background-color: yellow;
    background-image: url("img/background_princial_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center right;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.heroWhoAmI > h1 {
    background-color: rgb(0, 0, 0);
    color: var(--menuLinksAB);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8rem;
    padding: 2rem 1rem 1rem 1rem;
    text-align: right;    
}

.whoAmIContent {
    background-color: #d9d931;
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.whoAmIContent__txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10vw;
    padding: 10%;
    
}

.whoAmIContent__txt > h2 {
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: var(--menuLinksAB);    
    font-size: 2.8rem;
    padding: 1rem 1rem 0 1rem;
}

.whoAmIContent__txt > p {
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    font-weight: 400;
    color: var(--menuLinksAB);    
    font-size: 1.2rem;
    line-height: 1.7rem;

    font-size: 1.5rem;
    line-height: 2rem;


    padding: 1rem;
    margin-bottom: 1rem;
}

.whoAmIContent__txt p:last-child {
    margin-bottom: 0rem;
}

.whoAmIContent__img {

    background-image: url("./img/test_who_am_i.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* DESKTOP FIRST Porque un portfolio se ve gralmente en desktops */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    * {
      font-size: 7px;
    }
    .homeContent__section{
        width: 100%;
    }
  }

  @media only screen and (max-width: 425px) {
    .whoAmIContent {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
    }

    .quickContact__form div .quickContact--campo{
        width: 80%;
    }
    
    .quickContact__form div label{
        width: 20%;
    }
  }
