@use '../abstracts/variables' as v;
@use '../abstracts/mixing' as m;

.homeMain__hero{
    @include m.paddingHeroes();
    height: v.$homeHeroHeight;
    background-color: v.$colorGeneralPrimary;
    @include m.backgroundImgCenterCover(v.$homeHeroBackground);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center right;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    h1{
        @extend %heroTitle;
    }

    p {
        @include m.titlesAndParagraphsStyles(p);
        font-size: 1.3rem;
        padding: 1rem;
        padding-top: 0;
        width: 42rem;
        line-height: 2rem;
        text-align: right;
        word-spacing: auto;
        //animation: comeFromLeft 0.5s ease-in-out;
    }

    a {
        @include m.button();
    }
}

.separador{
    @extend %separador;
}

.homeMain__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "design 3dModeling"
    "coding photography"
    "moreWork moreWork"
    ;

    &__section{
        height: calc(v.$headerHeight*3);
    }

    &__moreWork{
        @include m.button(1.5rem);
        margin-top: 0;
        grid-area: moreWork;
    }

}

.section{
    &Design{
        @include m.homeWhatIveDoneCard(v.$colorSectionDesign, v.$WhatIveDoneDesignBackground, design);
    }
    &3d{
        @include m.homeWhatIveDoneCard(v.$colorSection3d, v.$WhatIveDone3dBackground, 3d);
    }
    &Coding{
        @include m.homeWhatIveDoneCard(v.$colorSectionCoding, v.$WhatIveDoneCodingBackground, coding);
    }
    &Photography{
        @include m.homeWhatIveDoneCard(v.$colorSectionPhotography, v.$WhatIveDonePhotographyBackground, photography);
    }
}