@use '../abstracts/variables' as v;
@use '../abstracts/mixing' as m;

// DESIGN

.WhatIveDoneDesign {
    &__hero {
        @include m.whatIveDoneHeroes(v.$colorSectionDesign, map-get(v.$WhatIveDoneHeroesBackground, design));
    }

    &Content{
        @include m.whereIveWorkedContent(design);
    }
}

.modalButtonCustomDesign{
    @include m.button($color: v.$colorSectionDesign);  
}

.modal-contentDesign{
    background-color: v.$colorSectionDesign;
}


// GENERAL

.modal-dialog{
    width: 100vw;
    max-width: 1000px;
    margin: 1rem auto 1rem auto;
}

.modal-content{
    border-radius: 0px;
}

.modalButtonCustom{
    border-radius: 0px;
    margin: 0px;
}

.modal-header{ 
    border-bottom: 0px;
    padding: 1rem 1rem 0 1rem;

    .btn-close {
        background-color: v.$colorDark;
        padding: 2rem 2rem;
        margin: -0.5rem 1rem -0.5rem auto;
        border-radius: 0px;
        opacity: 1;
        background-image: none;
    }
}

.modal-title{
    @include m.titlesAndParagraphsStyles(h);
    font-size: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    // background-color: v.$colorSectionDesign;
    color: v.$colorLight;
}

// CODING

.WhatIveDoneCoding {
    &__hero {
        @include m.whatIveDoneHeroes(v.$colorSectionCoding, map-get(v.$WhatIveDoneHeroesBackground, coding));
    }
    &Content{
        @include m.whereIveWorkedContent(coding);
    }

}

.modalButtonCustomCoding{
    @include m.button($color: v.$colorSectionCoding);  
}

.modal-contentCoding{
    background-color: v.$colorSectionCoding;
}

// 3D MODELING

.WhatIveDone3dModeling {
    &__hero {
        @include m.whatIveDoneHeroes(v.$colorSection3d, map-get(v.$WhatIveDoneHeroesBackground, d3d));
    }

    &Content{
        @include m.whereIveWorkedContent(3d);
    }
}

.modalButtonCustom3d{
    @include m.button($color: v.$colorSection3d);  
}

.modal-content3d{
    background-color: v.$colorSection3d;
}

// PHOTOGRAPHY

.WhatIveDonePhotography {
    &__hero {
        @include m.whatIveDoneHeroes(v.$colorSectionPhotography, map-get(v.$WhatIveDoneHeroesBackground, photography));
    }

    &Content{
        @include m.whereIveWorkedContent(photography);
    }
}

.modalButtonCustomPhotography{
    @include m.button($color: v.$colorSectionPhotography);  
}

.modal-contentPhotography{
    background-color: v.$colorSectionPhotography;
}

