@use '../abstracts/variables' as v;
@use '../abstracts/mixing' as m;

.WhereIveWorked {
    &__hero {
        @include m.paddingHeroes();
        min-height: v.$generalHeroHeight;
        background-color: v.$colorGeneralPrimary;
        @include m.backgroundImgCenterCover(v.$homeHeroBackground);
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    h1{
        @extend %heroTitle;
    }
}