$defaultFontSize: 10px;

// ------------------- COLORES

//GENERALES
$colorDark: #202020;
$colorMiddle: #797979;
$colorLight: #bebebe;

$colorNavItems: #afafaf;
$colorNavItemsHover: #ffffff;

$colorQCBackground: $colorNavItems;
$colorQCTitle: $colorMiddle;
$colorQCFieldBorder: $colorMiddle;
$colorQCField: $colorLight;

$colorH: $colorLight;
$colorBackgroundH: black;

$colorGeneralPrimary: yellow;
$colorGeneralPrimaryDarker: rgb(247, 230, 0);

$colorSectionDesign: #19C6FF;
$colorSection3d: #A068A9;
$colorSectionCoding: #FFAC36;
$colorSectionPhotography: #FF1956;

// ------------------- FONTS

$fontContent: 'Josefin Sans', sans-serif;
$fontSecondary: 'Rubik', sans-serif;
$hFontWeight: 700;
$pFontWeight: 400;

//MEDIDAS

$headerLogoHeight: 6rem;
$generalPadding: 2rem;
$leftRightPadding: 10vw;
$headerHeight: calc(($generalPadding)*2 + $headerLogoHeight);
$QCHeight: calc($headerHeight*4);
$generalGap: calc($generalPadding/2);
$generalHeroHeight: calc($headerHeight*2);
$WhatIveDone__prjCard_padding: 3rem;

// HOME

$homeHeroHeight: calc($headerHeight*5);
$homeWhatIveDoneCardHeight: calc($headerHeight*3);

$homeHeroBackground: "../img/background_princial_1.jpg";
$WhatIveDoneHeroesBackground: (
"design": "../img/test_design.jpg",
"d3d": "../img/test_3d.jpg",
"coding": "../img/test_coding.jpg",
"photography": "../img/test_photography.jpg",
);

$patternBackground: "../img/pattern_2.gif";

$roundIconsSize: 50px;

// PROJECTS

$WhatIveDoneDesign_prj_1: (
"p01": "../img/projects/qualityartworks_1_01.jpg",
"p02": "../img/projects/qualityartworks_1_01.jpg",
"p03": "../img/projects/qualityartworks_1_01.jpg",
"p04": "../img/projects/qualityartworks_1_01.jpg",
);

